<div id='header'>
  | <%= link_to_unless_current "Login", login_path %> |
  <%= link_to_unless_current "Logout", logout_path %> |
  <%= link_to_unless_current "Recipes", recipes_path %> |
  <%= link_to_unless_current "Ingredients", ingredients_path %> |
</div>